.loader {
	display: inline-block;
	margin: 20px;
	border: 2px solid var(--border);
	border-top-color: var(--muted);
	border-radius: 50%;
	animation: spin 0.8s linear infinite;
	width: 40px;
	height: 40px;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
